{{!-- Uneaten burger section --}}

<div class="burger-lists">
    <div class="row">
        <div class="col s12 m6">
            <div class="uneaten">
                <h2>Uneaten Burgers</h2>                
                {{#each burger}}
                {{#unless this.devoured}}
                <div class="row">
                    <div class="col s5 m4 offset-s2 offset-m3">
                        <p>{{this.burger_name}}</p>
                    </div>
                    <div class="col s2">
                        <button class="waves-effect waves-light btn-small red darken-1 devour" 
                            data-id="{{this.id}}">Devour!</button>
                    </div>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>

    {{!-- Eaten burgers section --}}

        <div class="col s12 m6">
            <div class="eaten">
                <h2>Eaten Burgers</h2>
                {{#each burger}}
                {{#if this.devoured}}
                <div class="row">
                    <div class="col s5 m4 offset-s2 offset-m3">
                        <p>{{this.burger_name}}</p>
                    </div>
                    <div class="col s2">
                        <button class="waves-effect waves-light btn-small red darken-1 delete"
                            data-id="{{this.id}}">DELETE!</i></button>
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>

    {{!-- New burger form --}}
    <div class="row">
        <form class="col s12 m6 offset-m3 burger-form">
            <div class="row">
                <div class="input-field col s12 m11">
                    <textarea id="textarea1" class="materialize-textarea user-input"></textarea>
                    <label class="red-text text-darken-1" for="textarea1">Enter your burger name</label>
                </div>
            </div>
            <div class="row submit-btn">
                <button class="btn waves-effect waves-light red darken-1" type="submit" name="action">Submit</button>
            </div>
        </form>
    </div>
</div>