body {
  background: url("https://assets.londonist.com/uploads/2016/09/i875/electric.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Header styling */

header {
  text-align: center;
  height: 250px;
  line-height: 250px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #da291c;
  border-bottom: 15px solid #ffc72c;
}

header > h1 {
  color: #fff;
}

.fa-hamburger {
  color: #ffc72c;
}

/* Burger list styling */

.burger-lists {  
  font-family: 'Raleway', sans-serif; 
  margin: 30px 30px;
  background-color: #ffc72c;
  border-radius: 10px;
  text-align: center;
}

p {  
  font-size: 20px;
}

.list {
  width: 60%;
}

.input-field label {
  color: #000;
}

.devour {
  margin-top: 15px;
}

.delete {
  margin-top: 15px;
}

form {
  font-size: 20px !important;
}

.submit-btn {
  text-align: center;
}

label {
    font-size: 20px !important;
}
